.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.main{
    display:flex;
    flex-direction: column;
    width: 550px;
    height:  700px;
    background-color: #33475b70;
   color: #fff;
}
.button{
    width: 80px;
    height: 40px;

}
.set-heading{
    color: #fff;
}
.button-set button{
    margin-right: 40px;
}
.middle-container{
    display: flex;
    align-content: center;
    justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
}
.main del{
    color: #fff;
}